<h2>Test: Order</h2>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button id="api-order-get-btn" class="api-btn">GET</button></td>
      <td id="api-order-get-result">GET</td>
    </tr>
    <tr>
      <td><button id="api-order-post-btn" class="api-btn">POST</button></td>
      <td id="api-order-post-result">POST</td>
    </tr>
    <tr>
      <td><button id="api-order-put-btn" class="api-btn">PUT</button></td>
      <td id="api-order-put-result">PUT</td>
    </tr>
    <tr>
      <td><button id="api-order-patch-btn" class="api-btn">PATCH</button></td>
      <td id="api-order-patch-result">PATCH</td>
    </tr>
    <tr>
      <td><button id="api-order-delete-btn" class="api-btn">DELETE</button></td>
      <td id="api-order-delete-result">DELETE</td>
    </tr>
  </tbody>
</table>