<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CGI-221</title>
  <link rel="icon" href="/worst_lang_in_the_world.png" />
  <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
  <header>
    <h1>Header</h1>

    <span class="link-btn"><a href="/uk-UA/User/">To user</a></span>
    <span class="link-btn"><a href="/uk-UA/Home/params/">To params</a></span>
    <span class="link-btn"><a href="/uk-UA/Usertest/">To user test</a></span>
    <span class="link-btn"><a href="/uk-UA/Ordertest/">To order test</a></span>
  </header>

  <main>
    <!-- RenderBody -->
  </main>

  <script src="/js/site.js"></script>
</body>

</html>